@model MySoftCorporation.Areas.Administrator.Models.UserActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewContext.RouteData.Values["controller"].ToString() </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">× </span>
            </button>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" id="feedBack"></div>
            </div>
            <form role="form" id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
                <div class="row form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="UserName">User Name</label>
                            <input type="text" class="form-control" value="@Model.UserName" name="UserName" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" value="@Model.Email" name="Email" placeholder="" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close mr-1"></i>Close</button>
            <button type="button" id="actionButton" class="btn btn-primary btn-flat"><i class="fa fa-save mr-1"></i> Save changes</button>
        </div>
    </div>

    <script>
        $("#actionButton").click(function () {
            var myForm = $("#actionForm");
            myForm.validate();
            if (myForm.valid()) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Action", ViewContext.RouteData.Values["controller"].ToString())",
                    data: myForm.serialize()
                })
                    .done(function (response) {
                        if (response.Success) {
                            location.reload();
                        }
                        else {
                            $("#feedBack").html('' +
                                '<div class= "alert alert-danger alert-dismissible" > <button type="button" class="close" data - dismiss="alert" aria - hidden="true" >×</button>'
                                + '<h5><i class="icon fas fa-ban"></i> Error !</h5>' + response.Msg + '</div >');
                        }

                    });
            }
        })
    </script>
    @Scripts.Render("~/Areas/plugins/jquery-validation/jquery.validate.min.js")
    @Scripts.Render("~/Areas/plugins/jquery-validation/additional-methods.min.js")

}


