@model MySoftCorporation.Areas.Administrator.Models.StudentActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewContext.RouteData.Values["controller"].ToString()  Information Form</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">× </span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" id="actionForm">
                <input type="hidden" value="@Model.ID" name="ID" id="ID" />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>FirstName *</label>
                            <input type="text" class="form-control" value="@Model.FirstName" name="FirstName" minlength="3" maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>LastName *</label>
                            <input type="text" class="form-control" value="@Model.LastName" name="LastName" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>CNIC or Form B *</label>
                            <input type="text" class="form-control" value="@Model.CNIC" name="CNIC" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Father Name *</label>
                            <input type="text" class="form-control" value="@Model.FatherName" name="FatherName" minlength="3" maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Father CNIC  *</label>
                            <input type="text" class="form-control" value="@Model.FatherCNIC" name="FatherCNIC" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Father Profession *</label>
                            <input type="text" class="form-control" value="@Model.FatherProfession" name="FatherProfession" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Student Contact  *</label>
                            <input type="text" class="form-control" value="@Model.StudentContact" name="StudentContact" minlength="11" maxlength="20" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Father Contact  *</label>
                            <input type="text" class="form-control" value="@Model.FatherContact" name="FatherContact" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Emergency Contact *</label>
                            <input type="text" class="form-control" value="@Model.EmergencyContact" name="EmergencyContact" minlength="2" maxlength="50" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>DateOfBirth *</label>
                            <input type="date" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" name="DateOfBirth" min="@DateTimeHelper.Now().AddYears(-50).ToString("yyyy-MM-dd")" max="@DateTimeHelper.Now().AddYears(-12).ToString("yyyy-MM-dd")" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>BloodGroup *</label>
                            <select name="BloodGroupID" class="form-control" required>
                                @if (Model.BloodGroups.Count() > 0)
                                {
                                    foreach (var eachGroup in Model.BloodGroups)
                                    {
                                        <option value="@eachGroup.BloodGroupID">@eachGroup.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">No Blood Groups Found</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 35px;">
                        <div class="form-group">
                            <label>Gender *</label>
                            <input type="radio" name="Gender" value="Male" @(Model.Gender == "Male" ? "checked" : string.Empty)> Male
                            <input type="radio" name="Gender" value="Female" @(Model.Gender == "Female" ? "checked" : string.Empty)> Female
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>City *</label>
                            <select name="CityID" class="form-control" required>
                                @if (Model.Cities.Count() > 0)
                                {
                                    foreach (var singleCity in Model.Cities)
                                    {
                                        <option value="@singleCity.ID">@singleCity.Name</option>
                                    }
                                }
                                else
                                {
                                    <option>No City Found!</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Present Address *</label>
                            <textarea class="form-control" maxlength="100" rows="4" name="PresentAddress" required>
@Model.PresentAddress
                            </textarea>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Permenant Address *</label>
                            <textarea class="form-control" maxlength="100" rows="4" name="PermenantAddress" required>
@Model.PermenantAddress
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                </div>
            </form>
            <div id="feedBack"></div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close mr-1"></i>Close</button>
            <button type="button" id="actionButton" class="btn btn-primary btn-flat"><i class="fa fa-save mr-1"></i> Save changes</button>
        </div>
    </div>
    <script src="~/Areas/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/Areas/plugins/jquery-validation/jquery.validate.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/inputmask")
    }
    <script>

        $("#actionButton").click(function () {
            var myForm = $("#actionForm");
            myForm.validate();
            if (myForm.valid()) {
                $("#feedBack").html("<div class='text-bold text-warning'>Saving into Database Please Wait!</div>");
                $(this).prop("disabled", true);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Action", ViewContext.RouteData.Values["controller"].ToString())",
                    data: myForm.serialize()
                })
                    .done(function (response) {
                        if (response.Success) {
                            location.reload();
                        }
                        else {
                            $("#actionButton").prop("disabled", false);
                            $("#feedBack").html("<div class='text-bold text-danger'>"+response.Msg+"</div>");
                        }

                    });
            }
        })
    </script>


}


