@model MySoftCorporation.Areas.Administrator.Models.RoleViewModel


@if (Model != null && Model.All != null && Model.All.Count() > 0)
{
    <!-- /.card-header -->
    <div class="card-body">
        <div style="overflow-x:auto;">
            <table class="table table-bordered table-condenced  table-hover table-striped table-custom ">
                <thead>
                    <tr>
                        <th style="width: 10px">S#</th>
                        <th>Role</th>
                        <th>Total Users</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model.All)
                    {
                    <tr>
                        <td> @i </td>
                        <td>@item.Name</td>
                        <td><a href="@Url.Action("Index","User", new { SearchTerm = "", RoleID = item.Id })">@item.Users.Count()</a></td>
                        <td>
                            <button data-href="@Url.Action("Action",ViewContext.RouteData.Values["controller"].ToString(),new { ID = item.Id })" class="data-btn btn btn-warning btn-sm btn-flat" data-toggle="modal" data-target="#actionModal"><i class="fa fa-edit mr-1"></i> Edit</button>
                            <button data-href="@Url.Action("Delete",ViewContext.RouteData.Values["controller"].ToString(),new { ID = item.Id })" class="delete-btn btn btn-sm btn-danger btn-flat" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash mr-1"></i> Delete</button>
                        </td>
                    </tr>

                        i++;
                    }
                </tbody>
            </table>
        </div>
        
    </div>
    <script>
        $(".delete-btn").click(function (e) {
            $.ajax({
                url: $(this).attr("data-href"),
            })
                .done(function (response) {
                    $("#deleteModalContent").html(response);
                });
        });
    </script>
}
else
{
    <div class="card-body">
        <div class="col-md-12">
            <div class=" form-group alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-info"></i> Oops!</h5>
                No @ViewContext.RouteData.Values["controller"].ToString() Exist in Database!
            </div>
        </div>
</div>
        }


