@model IEnumerable<MySoft.Employee.Entities.Attendance.EmployeeAttendance>
@{ 
    Layout = null;
}

<div style="overflow:auto;">
    <table class="table table-custom table-bordered table-hover">
        <tr>
            <th> @Html.DisplayNameFor(model => model.Employee.FirstName)</th>
            <th> @Html.DisplayNameFor(model => model.Employee.LastName)</th>
            <th> @Html.DisplayNameFor(model => model.Date) </th>
            <th> @Html.DisplayNameFor(model => model.ClockIn)</th>
            <th> @Html.DisplayNameFor(model => model.CheckOut) </th>
            <th> @Html.DisplayNameFor(model => model.CheckIn)</th>
            <th> @Html.DisplayNameFor(model => model.ClockOut)</th>
            <th> @Html.DisplayNameFor(model => model.ModifiedDate)</th>
            <th> @Html.DisplayNameFor(model => model.Status) </th>
            <th> @Html.DisplayNameFor(model => model.IP)</th>
            <th> @Html.DisplayNameFor(model => model.Agent) </th>
            <th> @Html.DisplayNameFor(model => model.Latitude) </th>
            @if (User.IsInRole("Administrator"))
            {
            <th> @Html.DisplayNameFor(model => model.Longitude)</th>
            }
            <th> Action</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td> @Html.DisplayFor(modelItem => item.Employee.FirstName)</td>
        <td> @Html.DisplayFor(modelItem => item.Employee.LastName) </td>
        <td> @Html.DisplayFor(modelItem => item.Date)</td>
        <td> @Html.DisplayFor(modelItem => item.ClockIn)</td>
        <td> @Html.DisplayFor(modelItem => item.CheckOut) </td>
        <td> @Html.DisplayFor(modelItem => item.CheckIn) </td>
        <td> @Html.DisplayFor(modelItem => item.ClockOut)</td>
        <td> @Html.DisplayFor(modelItem => item.ModifiedDate)</td>
        <td> @Html.DisplayFor(modelItem => item.Status)</td>
        <td> @Html.DisplayFor(modelItem => item.IP)</td>
        <td> @Html.DisplayFor(modelItem => item.Agent)</td>
        <td> @Html.DisplayFor(modelItem => item.Latitude)</td>
        <td> @Html.DisplayFor(modelItem => item.Longitude)</td>
        @if (User.IsInRole("Administrator"))
        {
            <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-block" })</td>
        }

    </tr>
        }
    </table>
</div>