@model MySoftCorporation.Models.StudentsActionModel
@{
    ViewBag.Title = "Apply";
}
@if (Model != null && Model.Cities.Count() > 0 && Model.BloodGroups.Count() > 0)
{
    <div style="
                margin: 10px;">
           <h2 class="text-bold text-center" style="
                border: 2px solid black;
                border-radius: 10px;
                background-color: black;
                color: white;
                margin-bottom: 15px;
                padding: 5px;
                font-weight: bolder;
            ">
            Student Application Form  
        </h2>
        @using (Html.BeginForm("ApplyNow", "Apply", FormMethod.Post, new { id = "actionForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.ID)
            @Html.HiddenFor(x=>x.CourseID)
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x=>x.FirstName)
                        <input type="text" class="form-control" value="@Model.FirstName" @(Model.FirstName != null? "readonly": string.Empty) name="FirstName" minlength="3" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.LastName)
                        <input type="text" class="form-control" value="@Model.LastName" @(Model.LastName != null ? "readonly" : string.Empty) name="LastName" minlength="2" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CNIC)
                        <input type="text" class="form-control" data-inputmask="'mask': '99999-9999999-9'" value="@Model.CNIC" @(Model.CNIC != null ? "readonly" : string.Empty) name="CNIC" minlength="2" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.FatherName)
                        <input type="text" @(Model.FatherName != null ? "readonly" : string.Empty) class="form-control" value="@Model.FatherCNIC" name="FatherName" minlength="3" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.FatherCNIC)
                        <input type="text" @(Model.FatherCNIC != null ? "readonly" : string.Empty) class="form-control" value="@Model.FatherCNIC" data-inputmask="'mask': '99999-9999999-9'" name="FatherCNIC" minlength="2" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.FatherProfession)
                        <input type="text" @(Model.FatherProfession != null ? "readonly" : string.Empty) class="form-control" value="@Model.FatherProfession" name="FatherProfession" minlength="2" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.StudentContact)
                        <input type="text" @(Model.StudentContact != null ? "readonly" : string.Empty) class="form-control" value="@Model.StudentContact" name="StudentContact" data-inputmask="'mask': '9999-9999999'" minlength="11" maxlength="20" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.FatherContact)
                        <input type="text" @(Model.FatherContact != null ? "readonly" : string.Empty) class="form-control" value="@Model.FatherContact" name="FatherContact" data-inputmask="'mask': '9999-9999999'" minlength="2" maxlength="50" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.EmergencyContact)
                        <input type="text" @(Model.EmergencyContact != null ? "readonly" : string.Empty) class="form-control" value="@Model.EmergencyContact" name="EmergencyContact" data-inputmask="'mask': '9999-9999999'" minlength="2" maxlength="50" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.DateOfBirth)
                        <input type="date" class="form-control" value="@(Model.DateOfBirth.ToString("yyyy-MM-dd"))" name="DateOfBirth" min="@DateTimeHelper.Now().AddYears(-50).ToString("yyyy-MM-dd")" max="@DateTimeHelper.Now().AddYears(-12).ToString("yyyy-MM-dd")" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.BloodGroupID)
                        <select name="BloodGroupID" @(Model.BloodGroupID > 0 ? "readonly" : string.Empty) class="form-control" required>
                            @if (Model.BloodGroups.Count() > 0)
                            {
                                foreach (var bloodGroup in Model.BloodGroups)
                                {
                                    <option value="@bloodGroup.BloodGroupID">@bloodGroup.Name</option>
                                }
                            }
                            else
                            {
                                <option>No Blood Group Found!</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-top: 35px;">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Gender)
                        <input type="radio" name="Gender" value="Male" checked> Male
                        <input type="radio" name="Gender" value="Female"> Female
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CityID)
                        <select name="CityID" @(Model.CityID > 0 ? "readonly" : string.Empty) class="form-control" required>
                            @if (Model.Cities.Count() > 0)
                            {
                                foreach (var singleCity in Model.Cities)
                                {
                                    <option value="@singleCity.ID">@singleCity.Name</option>
                                }
                            }
                            else
                            {
                                <option>No City Found!</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.PresentAddress)
                        <textarea class="form-control" maxlength="100" rows="4" name="PresentAddress" required>
                            @Model.PresentAddress</textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.PermenantAddress)
                        <textarea @(Model.PermenantAddress != null ? "readonly" : string.Empty) class="form-control" maxlength="100" rows="4" name="PermenantAddress" required>
                            @Model.PermenantAddress</textarea>
                    </div>
                </div>
            </div>
        }

        <div class="row" >
            <div class="col-md-12" id="feedBack">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-dark btn-block" id="ApplyNowButton">Apply Now</button>
            </div>
        </div>
    </div>

}
else
{
    <div style="margin:15px"><div class="text-red text-bold">Something Unexpected happened please kindly contact it department</div></div>
}
@Scripts.Render("~/Scripts/inputmask/inputmask.min.js")
@Scripts.Render("~/Scripts/inputmask/jquery.inputmask.min.js")
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
<script>
    $(":input").inputmask();
    $("#ApplyNowButton").click(function (e) {
        var form = $("#actionForm");
        form.validate();
        if (form.valid) {
            $("#feedBack").html("<div class='alert alert-warning'>Please Wait While We Are Saving Record Into Database</div>");
            $.ajax({
                type: "POST",
                url: "@Url.Action("ApplyNow", "Apply")",
                data: form.serialize(),
                success: function (response) {
                    if (response.Success) {
                        $("#feedBack").html("<div class='alert alert-success'><strong>You Have successfully applied for this course<strong></div>");
                        window.location.replace("@Url.Action("ApplyConfirmation", "Apply")")
                    }
                    else {

                        $("#feedBack").html("<div class='alert alert-danger'>" + response.Message + "</div>");
                    }
                }
            });

        }
    });
</script>