@model MySoftCorporation.Areas.Administrator.Models.ProvinceActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewContext.RouteData.Values["controller"].ToString() </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">× </span>
            </button>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12" id="feedBack"></div>
            </div>
            <form role="form" id="actionForm">
                <input type="hidden" value="@Model.ID" name="ID" id="ID" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Country *</label>
                            <select name="CountryID" class="form-control" required>
                                @if (Model.Countries.Count() > 0)
                                {
                                    <option value="">Please Select</option>
                                    foreach (var country in Model.Countries)
                                    {

                                        <option value="@country.ID" @(country.ID == Model.CountryID ? "selected" : string.Empty) >@country.Name</option>
                                    }
                                }
                                else
                                {
                                    <option selected>No Countries Exists</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Title *</label>
                            <input type="text" class="form-control" value="@Model.Name" name="Name" minlength="5" maxlength="200" required>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close mr-1"></i>Close</button>
            <button type="button" id="actionButton"   class="btn btn-primary btn-flat" ><i class="fa fa-save mr-1"></i> Save changes</button>
        </div>
    </div>
       
    <script>
        $("#actionButton").click(function () {
            var myForm = $("#actionForm");
            myForm.validate();
            if (myForm.valid()) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Action", ViewContext.RouteData.Values["controller"].ToString())",
                    data: myForm.serialize()
                })
                    .done(function (response) {
                        if (response.Success) {
                            location.reload();
                        }
                        else {
                            $("#feedBack").html('' +
                                '<div class= "alert alert-danger alert-dismissible" > <button type="button" class="close" data - dismiss="alert" aria - hidden="true" >×</button>'
                                + '<h5><i class="icon fas fa-ban"></i> Error !</h5>' + response.Msg + '</div >');
                        }

                    });
            }
        })
    </script>
    @Scripts.Render("~/Areas/plugins/jquery-validation/jquery.validate.min.js")
    @Scripts.Render("~/Areas/plugins/jquery-validation/additional-methods.min.js")

}


